[submodule "filmish-frontend"]
	path = filmish-frontend
	url = https://github.com/Dtoyou/filmish-frontend.git
[submodule "filmish-backend"]
	path = filmish-backend
	url = https://github.com/Dtoyou/filmish-backend.git
[submodule "filmish-algorithm"]
	path = filmish-algorithm
	url = https://github.com/Dtoyou/filmish-algorithm.git
