[submodule "filmish-frontend"]
	path = filmish-frontend
	url = https://github.com/film-ish/filmish-frontend.git
[submodule "filmish-backend"]
	path = filmish-backend
	url = https://github.com/film-ish/filmish-backend.git
[submodule "filmish-algorithm"]
	path = filmish-algorithm
	url = https://github.com/film-ish/filmish-algorithm.git
